In [1]:
# Importo librería para la conexión con MySQL
# -----------------------------------------------------------------------
import mysql.connector
from mysql.connector import errorcode


# Importo librerías para manipulación y análisis de datos
# -----------------------------------------------------------------------
import pandas as pd

In [3]:
# conecto con el servidor
cnx = mysql.connector.connect(user='root', password='AlumnaAdalab',
                              host='127.0.0.1')

# Creacion de la BBDD
mycursor = cnx.cursor()
try:
    mycursor.execute("CREATE DATABASE ABC_Corporation")
    print(mycursor)
except mysql.connector.Error as err:
    print(err)
    print("Error Code:", err.errno)
    print("SQLSTATE", err.sqlstate)
    print("Message", err.msg)
    
# Creacion de tabla

cnx = mysql.connector.connect(user='root', password='AlumnaAdalab',
                              host='127.0.0.1', database='ABC_Corporation')


mycursor = cnx.cursor()
try:
    mycursor.execute("""CREATE TABLE Personal_Record (
        Age INT,
        Age_Group VARCHAR(100),
        Attrition BOOLEAN,
        Business_Travel VARCHAR(100),
        Daily_Rate INT,
        Department VARCHAR(100),
        Distance_From_Home INT,
        Education TINYINT(1) CHECK (Education BETWEEN 1 AND 5),
        Education_Field VARCHAR(100),
        Employee_Number INT PRIMARY KEY,
        Environment_Satisfaction INT,
        Gender CHAR(1) CHECK (Gender IN ('F', 'M')),
        Hourly_Rate INT,
        Job_Involvement TINYINT(1) CHECK ( Job_Involvement BETWEEN 1 AND 5),
        Job_Level TINYINT(1) CHECK (Job_Level BETWEEN 1 AND 5),
        Job_Role VARCHAR(100),
        Job_Satisfaction TINYINT(1) CHECK ( Job_Satisfaction BETWEEN 1 AND 5),
        Marital_Status VARCHAR(100) CHECK ( Marital_Status IN ('Married', 'Divorced', 'Single', 'Unknown')),
        Monthly_Income INT,
        Monthly_Rate INT,
        Num_Companies_Worked INT,
        Over_Time VARCHAR (50) CHECK ( Over_Time IN ('True', 'False', 'Unknown'),
        Percent_Salary_Hike FLOAT CHECK ( Percent_Salary_Hike  BETWEEN 0 AND 1),
        Performance_Rating TINYINT(1) CHECK (Performance_Rating BETWEEN 1 AND 5),
        Relationship_Satisfaction TINYINT(1) CHECK ( Relationship_Satisfaction BETWEEN 1 AND 5),
        Stock_Option_Level TINYINT(1) CHECK ( Stock_Option_Level BETWEEN 1 AND 4),
        Total_Working_Years INT,
        Training_Times_Last_Year INT,
        Work_Life_Balance TINYINT(1) CHECK ( Stock_Option_Level BETWEEN 1 AND 5),
        Years_At_Company INT,
        Years_Since_Last_Promotion INT,
        Years_With_Curr_Manager INT,
        Date_Birth INT,
        Remote_Work BOOLEAN)
""")
  
    print(mycursor)
except mysql.connector.Error as err:
    print(err)
    print("Error Code:", err.errno)
    print("SQLSTATE", err.sqlstate)
    print("Message", err.msg)
    
# Ingresar datos a la base de datos desde un csv

# Leemos el archivo CSV con pandas
file_csv = 'HR_CLEAN_DATA.csv'
df = pd.read_csv(file_csv)

# Itero a través de las filas del DataFrame
for index, row in df.iterrows():
    
# Creo una lista de valores para las columnas disponibles
    values = [row[column] for column in df.columns]
    
# Inserta los datos en la tabla
    mycursor.execute(f"INSERT INTO Personal_Record  ({', '.join(df.columns)}) VALUES ({', '.join(['%s'] * len(df.columns))})",
                   values)
# Manejo de errores  
try: 
    cnx.commit()
    print(mycursor.rowcount, "registro/s insertado/s.")

except mysql.connector.Error as err:
    print(err)
    print("Error Code:", err.errno)
    print("SQLSTATE", err.sqlstate)
    print("Message", err.msg)

MySQLCursor: CREATE TABLE Personal_Record (Age INT,	A..

{', '.join(df.columns)}:Esto toma los nombres de las columnas del DataFrame  y los une en una cadena separada por comas y espacios.

VALUES ({', '.join(['%s'] * len(df.columns))}): crea una lista de marcadores de posición %s para los valores que se insertarán en las columnas,
El número de marcadores de posición es igual al número de columnas en el DataFrame por eso lo multiplicar con  len(df.columns).